<template>
  <v-container py-0>
    <v-layout row wrap fill-height>
      <!-- ABSOLUTE ELEMENTS -->
      <v-flex class="bg-left">
      </v-flex>
      <v-flex class="bg-right">
      </v-flex>

      <!-- CONTENIDO -->
      <!-- LISTA DE TOOLTIPS -->
      <v-spacer class="hidden-md-and-down"></v-spacer>
      <v-flex xs12 md6 xl4>
        <v-layout column justify-center fill-height :class="{'slideLeft': true, 'slideLeft-show': animate}" style="min-height: 100vh;">

          <!-- LISTA IMPUESTOS MOBILE -->
          <div class="elevation-10 pa-3 hidden-sm-and-up">
            <!-- TITULO -->
            <h1 class="text-sm-left" style="text-shadow: black 2px 2px 10px;">
              Los impuestos que pagan los ciudadanos de Chile son los siguientes
            </h1>
            <!-- LISTA -->
            <ul>

              <!-- IVA -->
              <li @click="closeAllBut('iva');" class=" text-xs-center text-sm-left list-item--mobile elevation-3 py-2">
                Impuesto al Valor Agregado (IVA)
                <span style="margin:0 10px;"></span>
              </li>
              <More :show="showMore.iva" :content="msgIva" :svgId="'iva'"></More>

              <!-- PRIMERA CATEGORÍA -->
              <li @click="closeAllBut('primCat');" class="text-xs-center text-sm-left list-item--mobile elevation-3 py-2">
                Impuesto a la Renta Primera Categoría (para empresas)
                <span style="margin:0 10px;"></span>

              </li>
              <More :show="showMore.primCat" :content="msgRentaPrim" :svgId="'primCat'"></More>

              <!-- SEGUNDA CATEGORÍA -->
              <li @click="closeAllBut('segCat');" class="text-xs-center text-sm-left list-item--mobile elevation-3 py-2">
                Impuesto a la Renta Segunda Categoría (para personas)
                <span style="margin:0 10px;"></span>

              </li>
              <More :show="showMore.segCat" :content="msgRentaSeg" :svgId="'segCat'"></More>

              <!-- BIENES ESPECÍFICOS -->
              <li @click="closeAllBut('bienEsp');" class="text-xs-center text-sm-left list-item--mobile elevation-3 py-2">
                Impuestos a Bienes Específicos
                <span style="margin:0 10px;"></span>

              </li>
              <More :show="showMore.bienEsp" :content="msgTaxBienes" :svgId="'bienEsp'"></More>

              <!-- OTROS -->
              <li @click="closeAllBut('otros');" class="text-xs-center text-sm-left list-item--mobile elevation-3 py-2">
                Otros
                <span style="margin:0 10px;"></span>

              </li>
              <More :show="showMore.otros" :content="msgOtros" :svgId="'otros'"></More>

            </ul>
            <br><br>
            <v-btn to="pago_impuestos" style="width:100%;" class="ma-0 type-1" :class="{'slideLeft': true, 'slideLeft-show': animate3}">Continuar</v-btn>
          </div>

          <!-- LISTA IMPUESTOS DESKTOP -->
          <div class="elevation-10 pa-3 hidden-xs-only">
            <!-- TITULO -->
            <h1 class="text-sm-left" style="text-shadow: black 2px 2px 10px;">
              Los impuestos que pagan los ciudadanos de Chile son los siguientes
            </h1>
            <ul>
              <!-- IVA -->
              <li class=" text-sm-left list-item py-2">
                Impuesto al Valor Agregado (IVA)
                <span style="margin:0 10px;"></span>
                <v-icon medium class="tax-tooltip-hover hidden-sm-and-down" v-tooltip.right="msgIva">help_outline</v-icon>
              </li>
              <!-- PRIMERA CATEGORÍA -->
              <li class="text-sm-left list-item py-2">
                Impuesto a la Renta Primera Categoría (para empresas)
                <span style="margin:0 10px;"></span>
                <v-icon medium class="tax-tooltip-hover hidden-sm-and-down" v-tooltip.right="msgRentaPrim">help_outline
                </v-icon>
              </li>
              <!-- SEGUNDA CATEGORÍA -->
              <li class="text-sm-left list-item py-2">
                Impuesto a la Renta Segunda Categoría (para personas)
                <span style="margin:0 10px;"></span>
                <v-icon medium class="tax-tooltip-hover hidden-sm-and-down" v-tooltip.right="msgRentaSeg">help_outline
                </v-icon>
              </li>
              <!-- BIENES ESPECÍFICOS -->
              <li class="text-sm-left list-item py-2">
                Impuestos a Bienes Específicos
                <span style="margin:0 10px;"></span>
                <v-icon medium class="tax-tooltip-hover hidden-sm-and-down" v-tooltip.right="msgTaxBienes">help_outline
                </v-icon>
              </li>
              <!-- OTROS IMPUESTOS -->
              <li class="text-sm-left list-item py-2">
                Otros
                <span style="margin:0 10px;"></span>
                <v-icon medium class="tax-tooltip-hover hidden-sm-and-down" v-tooltip.right="msgOtros">help_outline
                </v-icon>
              </li>
            </ul>
            <br><br>
            <center>
              <v-btn to="pago_impuestos" style="width:80%;" class="type-1 " :class="{'slideLeft': true, 'slideLeft-show': animate3}">Continuar</v-btn>
            </center>

          </div>

        </v-layout>
      </v-flex>
      <v-spacer></v-spacer>
      <!-- GRÁFICO TORTA -->
      <v-flex xs12 md5 hidden-sm-and-down :class="{'slideLeft': true, 'slideLeft-show': animate2}">
        <v-layout column fill-height justify-center>
          <object type="image/svg+xml" data="/static/graficos/vector-0.svg" id="vector-chart">
            <!-- fallback image in CSS -->
          </object>
        </v-layout>
      </v-flex>
      <v-spacer class="hidden-md-and-down"></v-spacer>
    </v-layout>
  </v-container>
</template>

<script>
import More from './comps/more'
export default {
  components: { More },
  name: 'pantalla-dos',
  data() {
    return {
      showMore: {
        iva: false,
        primCat: false,
        segCat: false,
        bienEsp: false,
        otros: false
      },
      showElements: false,
      runScale: false,
      msgIva: 'Impuesto que corresponde al 19% del valor de todo lo que compras. Por ejemplo,si compras una tele a $119.000, aproximadamente $100.000 es el precio original y $19.000 se paga en IVA.',
      msgRentaPrim: 'Impuesto que pagan las empresas. Actualmente corresponde al 27% de las utilidades (ganancias por sobre el costo) de una empresa. Por ejemplo, si la empresa tuvo $127.000.000 de utilidades deberá pagar en impuestos $27.000.000',
      msgRentaSeg: 'Impuesto que corresponde a un porcentaje de tu sueldo. Comienzas a pagarlo desde que empiezas a ganar $641.763 o más bruto mensual y va aumentando mientras más ganas. Como ejemplo, una persona que gana $3.327.660 paga un 7,09% de su ingreso en impuesto.',
      msgTaxBienes: 'Impuestos extra que se pagan por comprar productos específicos considerados dañinos o de lujo, como la bencina, tabaco, alcohol, bebidas azucaradas, entre otros.',
      msgOtros: 'Otros impuestos menos comunes como el impuesto a la herencia, a los juegos de azar, bienes raíces, entre otros.',
      animate: false,
      animate2: false,
      animate3: false
    }
  },
  mounted() {
    setTimeout(() => {
      this.animate = true
    }, 750)
    setTimeout(() => {
      this.animate2 = true
    }, 500)
    setTimeout(() => {
      this.animate3 = true
    }, 1000)
  },
  methods: {
    closeAllBut(elem) {
      // close all...
      for (let key in this.showMore) {
        // but elem ..
        this.showMore[key] = elem != key ? false : this.showMore[key]
      }
      // then toogle that elem.
      this.showMore[elem] = !this.showMore[elem]
      // the end
    }
  }
}
</script>

<style scoped lang="scss">
.tax-tooltip-hover {
  cursor: pointer;
  color: #3270af;
  float: right;
}

#vector-chart {
  background: url('/static/graficos/vector-0.svg') no-repeat center;
  height: 100%;
  width: 100%;
}

.list-item {
  list-style: none;
  font-size: 1.2em;
  margin: 4% 0;
  &--mobile {
    list-style: none;
    font-size: 1.2em;
    margin: 4% 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.tooltip-inner {
  color: white !important;
  font-weight: 300 !important;
}

h1,
li {
  color: #ffffff;
  font-weight: 400;
}
</style>
