<template>
  <v-navigation-drawer class="navigation-drawer__" v-model="drawer" right app style="z-index:1003;" floating temporary :touchless="false">
    <v-layout column align-content-space-between fill-height>
      <!-- <v-divider></v-divider> -->
      <!-- <v-flex>
        <v-layout wrap fill-height align-center>
          <v-btn fab flat @click="drawer = false">
            <v-flex>
              <v-icon medium style="transform:rotate(180deg);">keyboard_backspace</v-icon>
            </v-flex>
          </v-btn>
          <v-flex>
          </v-flex>
        </v-layout>
      </v-flex> -->
      <!-- <v-divider class="mb-0"></v-divider> -->
      <v-flex>
        <div @click="utility.onClick(utility.route)" v-ripple class="hoverMe" v-for="(utility, index) in utilities" :key="index">
          <v-list>
            <v-list-tile avatar>
              <!-- <v-list-tile-avatar>
                <v-icon medium color="purple"> {{ utility.icon }} </v-icon>
              </v-list-tile-avatar> -->
              <v-list-tile-content>
                <v-list-tile-title>{{utility.title}}</v-list-tile-title>
                <v-list-tile-sub-title>{{utility.subTitle}}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </div>
      </v-flex>
      <v-flex d-flex align-end>
        <v-btn @click="drawer = false" color="black" outline>cerrar</v-btn>
      </v-flex>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import EventBus from '@/modules/EventBus'
export default {
  data() {
    return {
      drawer: false,
      utilities: [
        {
          title: 'Inicio',
          subTitle: 'Lorem ipsum at dominus loir',
          route: 'mobile',
          onClick: this.goToModule
        },
        {
          icon: 'fa-flask',
          title: '¿Cuántos impuestos pagas?',
          subTitle: 'Lorem ipsum at dominus loir',
          route: 'monitor',
          onClick: this.goToModule
        },
        {
          icon: 'fa-simplybuilt',
          title: '¿Cuánto es el ingreso del gobierno?',
          subTitle: 'Lorem ipsum at dominus loir',
          route: 'vr',
          onClick: this.goToModule
        },
        {
          icon: 'assessment',
          title: '¿Cómo se reparten éstos impuestos?',
          subTitle: 'Lorem ipsum at dominus loir',
          onClick: this.goToModule
        },
        {
          icon: 'video_library',
          title: '¿Quieres saber más?',
          subTitle: 'Lorem ipsum at dominus loir',
          onClick: this.goToModule
        }
        // {
        //   icon: 'attach_money',
        //   title: 'Simulador de tarifa.',
        //   subTitle: 'Simula costos de estudios.',
        //   onClick: this.experimentalFeature
        // },
        // {
        //   icon: 'power_settings_new',
        //   title: 'Cerrar Sesión',
        //   subTitle: 'See you soon.',
        //   onClick: this.experimentalFeature
        // }
      ]
    }
  },
  mounted() {
    EventBus.$on('drawer', () => {
      this.drawer = true
    })
  },
  methods: {
    goToModule(mod) {
      switch (mod) {
        case 'route1':
          // this.$router.push('/route1')
          break
        case 'route2':
          // this.$router.push('/route2')
          break
        case 'route3':
          // this.$router.push('/route3')
          break
        default:
          break
      }
    }
  }
}
</script>

<style lang="scss">
.v-list__tile {
  height: 48px;
}
.v-overlay:before {
  //background-color: white;
}

.navigation-drawer__ {
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 1) !important;
  .hoverMe {
    //transition: 0.1s all linear;
    // color: goldenrod !important;
    //background-color: white !important;
    &:hover {
      .list__tile__content {
        .list__tile__title {
          color: slateblue !important;
        }
        .list__tile__sub-title {
          color: grey !important;
        }
      }
      position: relative;
      left: 10px;
      cursor: pointer;
    }
  }
  .list__tile__content {
    .list__tile__title {
      color: black !important;
    }
    .list__tile__sub-title {
      color: grey !important;
    }
  }
}
</style>

