<template>
  <transition name="fade">
    <v-btn v-if="show" style="right:30px;bottom:30px;" class="hud-display" color="white" outline @click="toggleDrawer">
      <v-icon small class="mr-1">dehaze</v-icon>
      Menú
    </v-btn>
  </transition>
</template>

<script>
import EventBus from '/src/modules/EventBus'

export default {
  data() {
    return {
      show: false
    }
  },
  props: ['show'],
  methods: {
    toggleDrawer() {
      EventBus.$emit('drawer')
    }
  },
  mounted() {}
}
</script>


<style lang="scss" scoped>
* {
  transition: opacity 2s ease;
  transition-delay: 1s;
}
.hud-display {
  position: absolute;
}
</style>

