<template>
  <div class="overlay__">
    <v-container fluid fill-height>
      <v-layout row wrap fill-height justify-center align-center>
        <!--  -->
        <v-flex xs6 class="text-xs-center">
          <!-- TITULO -->
          <h2 class="my-2">
            <span v-html="message" class="py-4"></span>
          </h2>

          <!-- CENTERED HR -->
          <!-- <v-layout row wrap>
            <v-spacer></v-spacer>
            <v-flex>
              <hr>
            </v-flex>
            <v-spacer></v-spacer>
          </v-layout> -->
          <!-- <hr class="my-1" style="color:transparent;"> -->

          <div>
            <v-btn outline @click="$emit('close')">OK</v-btn>
            <!-- <v-btn outline>CANCELAR</v-btn> -->
          </div>

        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  props: {
    message: {
      type: String,
      default: '<pre>"Nonsense is a chemical reaction."</pre>'
    }
  }
}
</script>

<style lang="scss">
.overlay__ {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}
</style>

