<template>
  <v-layout fill-height>
    <v-flex class="full-page" v-bind:class="{ grow : growStart }">
    </v-flex>
    <transition name="fade">
      <v-btn :to="'/comparaciones'" v-if="showButton" style="position: absolute;bottom: 14%;left: 45%;">Continuar</v-btn>
    </transition>
  </v-layout>
</template>

<script>
import * as d3 from 'd3'

export default {
  data() {
    return {
      growStart: false,
      showButton: false
    }
  },

  events: {},

  computed: {},

  created() {},

  mounted() {
    setTimeout(() => {
      this.growStart = true
    }, 100)

    setTimeout(() => {
      this.showButton = true
    }, 5000)
  },

  watch: {},

  methods: {},

  components: {}
}
</script>


<style lang="scss">
</style>
