<template>
  <transition name="fade">
    <v-layout row fill-height class="bg-svg">

      <!-- ABSOLUTE ELEMENTS -->
      <v-flex class="bg-left"></v-flex>
      <v-flex class="bg-right"></v-flex>
      <v-btn class="button-info--float" outline color="white" :class="{'slideLeft': true, 'slideLeft-show': growBar}" @click="showDetails">¿Cómo se calculó ésto?</v-btn>

      <v-flex md12 lg8>

        <v-layout column fill-height>

          <v-flex>
            <v-layout fill-height column>
              <v-flex></v-flex>
              <v-flex>
                <v-layout row fill-height align-center>
                  <v-flex style="position:relative;" class="hidden-md-and-down">
                    <div class="veleta"></div>
                  </v-flex>
                  <v-flex lg8 md12>
                    <h1 class="principal-title text-shadow">
                      ¿Sabes cuántas horas trabajas para pagar éstos impuestos?
                    </h1>
                  </v-flex>
                  <v-flex></v-flex>
                </v-layout>
              </v-flex>
              <v-flex>

              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex xs7>

            <v-layout row fill-height>
              <v-flex xs2></v-flex>
              <v-flex xs8>
                <v-layout column fill-height>

                  <v-flex xs8 fill-height="" align-center="">
                    <v-layout column fill-height align-center="" justify-center="">
                      <h1 class="text-sm-center hours" v-bind:class="{ appear : appearHours }">
                        <span style="font-size:48px;font-weight:300;display:block;position:relative;top:15%; color: #ffffff;">
                          {{ dictionary[selected] }}
                        </span>
                        <span style="text-transform:uppercase;color:#ffffff;margin-bottom:15px;display:block">
                          Horas / Año
                        </span>
                      </h1>
                      <div class="dynamic-column" v-bind:class="{ grow : growBar }">

                      </div>
                      <div class="dynamic-base">

                      </div>
                    </v-layout>
                  </v-flex>
                  <v-flex xs2>
                    <v-layout row fill-height>
                      <v-flex xs5></v-flex>
                      <v-flex d-flex align-center>
                        <v-btn :to="'/recaudacion_impuestos'" class="hours type-1" v-bind:class="{ appear : appearHours }">Continuar</v-btn>
                      </v-flex>
                      <v-flex xs5></v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs2></v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs2>
              </v-flex>
            </v-layout>

          </v-flex>
        </v-layout>
      </v-flex>
      <div class="background-right hidden-md-and-down"></div>
    </v-layout>
  </transition>
</template>

<script>
import anime from 'animejs'
import EventBus from '/src/modules/EventBus'

export default {
  data() {
    return {
      showElements: false,
      runScale: false,
      selected: localStorage.getItem('selected') || '0',
      dictionary: {
        0: '506,74',
        1: '804,39',
        2: '551,84',
        3: '501,33',
        4: '460,93',
        5: '454,83',
        6: '444,22',
        7: '431,61',
        8: '455,78',
        9: '478,47'
      },
      growBar: false,
      appearHours: false
    }
  },

  events: {},

  computed: {},

  created() {},

  mounted() {
    setTimeout(() => {
      this.growBar = true
      setTimeout(() => {
        this.appearHours = true
      }, 1000)
    }, 1000)
  },

  watch: {},

  methods: {
    showDetails() {
      EventBus.$emit(
        'overlay',
        'Se utiliza la estimación anterior para calcular el porcentaje de sueldo, asumiendo que el ingreso es linealmente proporcional a las horas trabajadas. Se utiliza como dato el promedio de 1.974 horas anuales trabajadas por los chilenos en el 2016, entregado por la OECD. <br/><a href="https://data.oecd.org/emp/hours-worked.htm" target="_blank">Ver fuente</a>'
      )
    }
  },

  components: {}
}
</script>


<style scoped lang="scss">
* {
  // border: red solid 1px;
}

/****************
*    GRAPHICS   *
*****************/

.vector-image {
  background: url('/static/graficos/vector-3.svg') no-repeat center;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.background-right {
  background: url('/static/graficos/man.png');
  background-size: cover;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  width: 45%;
}

/************
*  CONTENT  *
*************/
$blueColor: #0651a2;

h1.principal-title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 90px;
  position: relative;
  text-align: center;
  padding: 0 10px;
}

p {
  font-family: 'Lato', sans-serif;
  color: #222222;
  font-size: 22px;
}
.title {
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 46px;
  padding: 50px 50px 50px 150px;
}

.list-item {
  list-style: none;
  font-size: 1.2em;
  margin: 5% 0;
}

.dynamic-column {
  height: 50%;
  width: 19%;
  background-color: $blueColor;
  max-height: 0px;
  opacity: 0;
  transition: all 2s ease-in-out;
}

.grow {
  opacity: 1;
  max-height: 500px;
}

.hours {
  transition: all 2s ease-in-out;
  opacity: 0;
}

.appear {
  opacity: 1;
}

.dynamic-base {
  background-color: $blueColor;
  width: 60%;
  border-radius: 50px;
  height: 10px;
}

.veleta {
  background-color: $blueColor;
  height: 75px;
  position: absolute;
  width: 690px;
  top: 120px;
  left: 0;
  &:before {
    content: '';
    display: block;
    width: 250px;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 75px solid $blueColor;
    right: -20px;
    position: absolute;
  }
}

.button-info--float {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
</style>
