<template>
  <transition name="fade">
    <v-container fill-height>

      <v-flex class="bg-left"></v-flex>
      <v-flex class="bg-right"></v-flex>
      <v-btn class="button-info--float" outline color="white" :class="{'slideLeft': true, 'slideLeft-show': animate3}" @click="showDetails">¿Cómo se calculó ésto?</v-btn>

      <v-layout column>
        <v-spacer></v-spacer>
        <v-flex xs3>
          <v-layout row wrap>
            <v-spacer class="hidden-sm-and-down"></v-spacer>
            <v-flex md8 sm12>
              <h1 class="mb-5 text-shadow" :class="{'slideLeft': true, 'slideLeft-show': animate0}">
                ¿Sabes cuánto de tus ingresos va a impuestos?
              </h1>
            </v-flex>
            <v-spacer class="hidden-sm-and-down"></v-spacer>
          </v-layout>
        </v-flex>
        <v-flex xs3>
          <v-layout row wrap>
            <v-flex md6>

              <v-layout align-space-between column fill-height justify-center :class="{'slideLeft': true, 'slideLeft-show': animate}">
                <div class="circle">
                  <v-select :items="items" v-model="selected" label="Selecciona el monto" single-line></v-select>
                  <h2 class="text-xs-center">Porcentaje de impuestos que pagas al año:</h2>
                  <h3 class="text-xs-center" style="font-size: 64px;color:slategray;">{{ selected.answer }}</h3>
                </div>
              </v-layout>
            </v-flex>

            <v-flex md6 :class="{'slideLeft': true, 'slideLeft-show': animate2}" d-flex>
              <v-container>
                <v-layout row wrap :class="{'slideLeft': true, 'slideLeft-show': animate2}" class="bottom-text text-shadow">
                  <v-flex xs12>
                    <p style="font-weight:300;" class="text-shadow">Selecciona el rango de ingreso mensual de tu hogar ( este dato se utilizará EXCLUSIVAMENTE para hacer un cálculo y, además, es opcional ingresarlo)</p>
                  </v-flex>
                  <v-flex xs12 class="text-xs-center">
                    <v-btn class="type-1" :class="{'slideLeft': true, 'slideLeft-show': animate3}" @click="setAndContinue">Continuar</v-btn>
                    <!-- <v-btn class="type-1" :class="{'slideLeft': true, 'slideLeft-show': animate3}" @click="showDetails">¿Cómo se calculó ésto?</v-btn> -->
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-spacer></v-spacer>
      </v-layout>
    </v-container>
  </transition>
</template>

<script>
import EventBus from '@/modules/EventBus'
import Sample from '/src/views/vueD3'

export default {
  data() {
    return {
      animate: false,
      animate2: false,
      animate3: false,
      animate0: false,
      showElements: false,
      runScale: false,
      items: [
        {
          key: 0,
          text: 'Prefiere no decir',
          answer: '25,7%'
        },
        {
          key: 1,
          text: '$ 0 - 150.000',
          answer: '40,7%'
        },
        {
          key: 2,
          text: '$ 150.000 - 300.000',
          answer: '28,0%'
        },
        {
          key: 3,
          text: '$ 300.000 - 450.000',
          answer: '25,4%'
        },
        {
          key: 4,
          text: '$ 450.000 - 600.000',
          answer: '23,4%'
        },
        {
          key: 5,
          text: '$ 600.000 - 800.000',
          answer: '23,0%'
        },
        {
          key: 6,
          text: '$ 600.000 - 1.100.000',
          answer: '22,5%'
        },
        {
          key: 7,
          text: '$ 1.100.000 - 1.500.000',
          answer: '21,9%'
        },
        {
          key: 8,
          text: '$ 1.500.000 - 2.000.000',
          answer: '23,1%'
        },
        {
          key: 9,
          text: '$ 2.000.000+',
          answer: '24,2%'
        }
      ],
      selected: {}
    }
  },

  events: {},

  computed: {},

  created() {},

  mounted() {
    setTimeout(() => {
      this.animate0 = true
    }, 300)
    setTimeout(() => {
      this.animate = true
    }, 600)
    setTimeout(() => {
      this.animate2 = true
    }, 900)
    setTimeout(() => {
      this.animate3 = true
    }, 1200)
  },

  watch: {},

  methods: {
    setAndContinue() {
      localStorage['selected'] = this.selected.key
      if (Object.keys(this.selected).length >= 1) {
        console.info('Existe un elemento seleccionado.')
        this.$router.push('/horas_trabajo_impuestos')
      } else {
        console.info('No hay un elemento seleccionado.')
        EventBus.$emit('overlay', `Por favor elige una opción antes de continuar.`)
      }
      // Ir a siguiente diapositiva
    },
    showDetails() {
      EventBus.$emit(
        'overlay',
        `Se utiliza el valor promedio del intervalo seleccionado para calcular el porcentaje del sueldo pagado en impuesto a la renta. En el caso de más $2.000.000 se asumió que el pago es de 6% del total del sueldo. Además, cuando prefiere no contestar se utiliza el salario mediano de $350.000, reportado por el INE en 2017. Para ingresos hasta $450.000 se asumió que se gasta la totalidad del sueldo en bienes afectos al IVA. Para sueldos entre $450.000 y $800.000 se asumió que un 95% se va a bienes afectos a IVA. Para el intervalo de $800.000 a $1.100.000 el ponderador es de 90%. Para $1.100.000 a $2.000.000 se asumió un 85% y finalmente un 80% para el último tramo. Finalmente, los otros impuestos que se consideran son: impuestos a licores fuertes y suaves, tabaco, bebidas muy azucaradas y ligeramente azucaradas, auto nuevo y bencina. Para computar la importancia de estos bienes en la canasta de consumo de las familias, se utilizan las ponderaciones publicadas por el INE de la canasta básica, para abril de 2018. Ya que el INE publica algunos items agregados (como Alcohol y Tabaco), en esos casos se promediaron las tasas de impuestos para cada uno de los bienes. Para mayor detalle revisar Base Sueldo - Impuestos <br/> <a target="_blank" href="https://drive.google.com/open?id=1vgRrNwv37EdlyqHMYyvYDh7ChoqHQ1vU">Haz click aquí para ver nuestras hojas de datos</a>`
      )
    }
  },

  components: {}
}
</script>


<style scoped lang="scss">
* {
  // border: red solid 1px;
}
.circle {
  background-color: #73c7be;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  position: relative;
  box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  z-index: 0;
  padding: 80px 80px 120px 80px;
  @media only screen and (max-width: 960px) {
    height: 275px;
    width: 275px;
    padding: 45px 40px 80px 40px;
    margin-bottom: 50px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #e0f3b2;
    border-radius: 50%;
    width: 88%;
    height: 88%;
    margin: auto;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.info-display {
  height: 330px;
  width: 700px;
  background-color: palegoldenrod;
  z-index: 9;
  position: absolute;
  right: 13%;
  top: 32%;
  border-radius: 94px;
}

p {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 22px;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 30px;
  position: relative;
}

@media only screen and (max-width: 960px) {
  h1 {
    width: 100%;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 50px !important;
  }
  .bottom-text {
    height: 300px;
  }
}

.list-item {
  list-style: none;
  font-size: 1.2em;
  margin: 5% 0;
}

.button-info--float {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
</style>
