<template>
  <v-layout fill-height>

    <!-- ABSOLUTE ELEMENTS -->
    <v-flex class="bg-left"></v-flex>
    <v-flex class="bg-right"></v-flex>

    <v-container text-xs-center>
      <v-layout column wrap>
        <!-- INTRODUCCIÓN -->
        <v-flex md4 class="slideTop" :class="{'slideTop-show': slideBottom[0]}">
          <v-layout column align-center my-4>
            <v-flex xs4>
              <h1 class="text-shadow">¿ Quien recauda estos impuestos ?</h1>
            </v-flex>
            <v-flex xs4>
              <p class="my-4 text-shadow" style="max-width: 50%;text-align: center;">Existen dos organismos encargados de la recaudación de impuestos, la Tesorería General de la República está encargada de recaudarlos y el Servicio de Impuestos Internos de fiscalizar que todos paguen sus impuestos.</p>
            </v-flex>
          </v-layout>
          <!-- <transition name="fade">
            <v-btn v-if="showButton" :to="'/comparaciones'" style="position: absolute;bottom: 14%;left: 45%;">Continuar</v-btn>
          </transition> -->
        </v-flex>
        <!-- TARJETAS -->
        <v-flex md4>
          <v-layout row wrap justify-center>
            <v-flex xs12></v-flex>
            <!-- TARJETA SII -->
            <v-flex md4 class="card-SII slideBottom" :class="{'slideBottom-show': slideBottom[1]}" @click="openLink('http://www.sii.cl')">
              <img src="/static/graficos/cuadro-1.png" width="100">
              <p class="text-cuadro text-shadow">Servicio de impuestos internos (SII): Fiscaliza que todos cumplan con su obligación de pagar los impuestos indicados en la ley.</p>
            </v-flex>
            <v-flex xs12></v-flex>
            <!-- TARJETA TGR -->
            <v-flex md4 class="card-TGR slideBottom" :class="{'slideBottom-show': slideBottom[2]}" @click="openLink('https://www.tesoreria.cl/')">
              <img src="/static/graficos/cuadro-2.png" width="120" class="mt-4">
              <p class="text-cuadro text-shadow">Tesorería General de la República (TGR): Recauda y distribuye el dinero del gobierno incluyendo impuestos y otros ingresos del fisco.</p>
            </v-flex>
            <v-flex xs12></v-flex>
            <v-flex md4 my-5>
              <transition name="fade">
                <v-btn class="type-1" v-show="showButton" :to="'/comparaciones'">Continuar</v-btn>
              </transition>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>
</template>

<script>
import anime from 'animejs'

export default {
  data() {
    return {
      growStart: false,
      showButton: false,
      slideBottom: {
        0: false,
        1: false,
        2: false
      }
    }
  },

  events: {},

  computed: {},

  created() {},

  mounted() {
    setTimeout(() => {
      this.slideBottom[0] = true
    }, 200)

    setTimeout(() => {
      this.slideBottom[1] = true
    }, 500)

    setTimeout(() => {
      this.slideBottom[2] = true
    }, 800)

    setTimeout(() => {
      this.showButton = true
    }, 1300)
  },

  watch: {},

  methods: {
    openLink(url) {
      window.open(url, '_blank')
    }
  },

  components: {}
}
</script>


<style scoped lang="scss">
* {
  // border: red solid 1px;
}
h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
}

p {
  text-align: left;
  display: block;
  margin: auto;
}

.text-cuadro {
  max-width: 350px;
  text-align: center;
  display: block;
  margin: 18px auto;
}

.card-SII {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    // transform: translateX(-100px);
  }
}

.card-TGR {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    // transform: translateX(-100px);
  }
}

/*************
* ANIMATIONS *
**************/

.slideBottom {
  opacity: 0;
  transform: translateY(200px);
  transition: all 1s ease;
  &-show {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideTop {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s ease;
  &-show {
    opacity: 1;
    transform: translateX(0);
  }
}
</style>
