<template>
  <transition name="fade">
    <v-layout column fill-height class="background">
      <v-flex xs3>
        <v-layout fill-height="">
          <v-flex></v-flex>
          <v-flex d-flex align-center="">
            <h1 class="text-xs-center tittle">Nuestro Equipo</h1>
          </v-flex>
          <v-flex></v-flex>
        </v-layout>

      </v-flex>

      <v-flex xs6>
        <v-layout fill-height="" style="padding: 0 10%">

          <v-flex>
            <v-layout fill-height="" column>
              <v-flex xs2></v-flex>
              <v-flex xs8 id="user0" class="avatar"><img src="" alt=""></v-flex>
              <v-flex xs4>
                <h1 class="text-xs-center names">
                  <b>Anna Herrero</b> <br> Economista <br> Analista de datos</h1>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex>
            <v-layout fill-height="" column>
              <v-flex xs2></v-flex>
              <v-flex xs8 id="user1" class="avatar"></v-flex>
              <v-flex xs4>
                <h1 class="text-xs-center names">
                  <b>Juan Concha</b> <br> Economista <br> Analista de datos</h1>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex>
            <v-layout fill-height="" column>
              <v-flex xs2></v-flex>
              <v-flex xs8 id="user2" class="avatar"></v-flex>
              <v-flex xs4>
                <h1 class="text-xs-center names">
                  <b>Ian Pozo</b> <br> Arquitecto de Sistemas <br>Desarrollador Web</h1>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex>
            <v-layout fill-height="" column>
              <v-flex xs2></v-flex>
              <v-flex xs8 id="user3" class="avatar"></v-flex>
              <v-flex xs4>
                <h1 class=" text-xs-center names">
                  <b>Rodrigo Pizarro</b> <br> Analista de datos <br> Programador</h1>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex>
            <v-layout fill-height="" column>
              <v-flex xs2></v-flex>
              <v-flex xs8 id="user4" class="avatar"></v-flex>
              <v-flex xs4>
                <h1 class="text-xs-center names">
                  <b>Marco Gallardo</b> <br> Diseñador gráfico <br> Productor web</h1>
              </v-flex>
            </v-layout>
          </v-flex>

        </v-layout>
      </v-flex>

      <v-flex xs3>
        <v-layout row fill-height="">
          <v-flex></v-flex>
          <v-flex xs2>
            <v-layout column fill-height="" align-center="">
              <v-flex></v-flex>
              <v-flex>
                <v-btn href="/static/graficos/partida.html">Ir a los Datasets</v-btn>
              </v-flex>
              <v-flex></v-flex>
            </v-layout>
          </v-flex>
          <v-flex></v-flex>
        </v-layout>
      </v-flex>

    </v-layout>
  </transition>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      growStart: false,
      showButton: false,
    };
  },

  events: {},

  computed: {},

  created() {},

  mounted() {
    setTimeout(() => {
      this.growStart = true;
    }, 100);

    setTimeout(() => {
      this.showButton = true;
    }, 5000);
  },

  watch: {},

  methods: {},

  components: {},
};
</script>


<style scoped lang="scss">
/****************
*  ANIMATIONS   *
*****************/
.fade-enter-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-leave-active {
  position: absolute;
  width: 100%;
  transition: opacity 1s;
}

/****************
*  BACK-GROUND  *
*****************/
.full-page {
  // background: url('/static/graficos/pantalla_8.jpeg');
  // background-size: auto;
  // background-origin: content-box;
  // background-position: center;
  // background-repeat: no-repeat;
  // border-radius: 50px;
  // margin: 5% 15%;
  // transition: all 12s linear;
  // transform: scale(0.95, 0.95);
}

.grow {
  transform: scale(1, 1);
}

.background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c3e5dc+0,8abbd7+31,066dab+100 */
  background: #c3e5dc; /* Old browsers */
  background: -moz-linear-gradient(top, #c3e5dc 0%, #8abbd7 31%, #0646ad 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c3e5dc 0%, #8abbd7 31%, #0646ad 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c3e5dc 0%, #8abbd7 31%, #0646ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3e5dc', endColorstr='#0646ad',GradientType=0 ); /* IE6-9 */
}

/************
*  CONTENT  *
*************/

.avatar {
  background-repeat: no-repeat;
  background-position: center;
}

#user0 {
  background: url('/static/graficos/foto-1.png');
  background-repeat: no-repeat;
  background-position: center;
}
#user1 {
  background: url('/static/graficos/foto-2.png');
  background-repeat: no-repeat;
  background-position: center;
}
#user2 {
  background: url('/static/graficos/foto-3.png');
  background-repeat: no-repeat;
  background-position: center;
}
#user3 {
  background: url('/static/graficos/foto-4.png');
  background-repeat: no-repeat;
  background-position: center;
}
#user4 {
  background: url('/static/graficos/foto-5.png');
  background-repeat: no-repeat;
  background-position: center;
}

.tittle {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  padding-top: 25%;
}

.names {
  color: white;
  font-weight: 300;
  font-size: 20px;
}
</style>
