<template>
  <transition name="fade">
    <v-layout fill-height class="background">
      <v-flex class="full-page" v-bind:class="{ grow : growStart }">
      </v-flex>
      <v-btn v-if="showButton" style="position: absolute;bottom: 14%;left: 45%;" href="/static/graficos/partida.html">Continuar</v-btn>
    </v-layout>
  </transition>
</template>

<script>
import * as d3 from 'd3'

export default {
  data() {
    return {
      growStart: false,
      showButton: false
    }
  },

  events: {},

  computed: {},

  created() {},

  mounted() {
    setTimeout(() => {
      this.growStart = true
    }, 100)

    setTimeout(() => {
      this.showButton = true
    }, 5000)
  },

  watch: {},

  methods: {},

  components: {}
}
</script>


<style scoped lang="scss">
/****************
*  ANIMATIONS   *
*****************/
.fade-enter-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-leave-active {
  position: absolute;
  width: 100%;
  transition: opacity 1s;
}

/****************
*  BACK-GROUND  *
*****************/
.full-page {
  background: url('/static/graficos/pantalla_8.jpeg');
  background-size: auto;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 5% 15%;
  transition: all 12s linear;
  transform: scale(0.95, 0.95);
}

.grow {
  transform: scale(1, 1);
}

.background {
  background: url('/static/graficos/background.png');
  background-size: cover;
  background-origin: content-box;
  background-position: center;
}

/************
*  CONTENT  *
*************/
</style>
