<template>
  <v-container fluid class="comparaciones__" d-flex>
    <v-layout row wrap align-center>
      <v-flex xs12>
        <h1 id="titulo" class="text-xs-center">Ingreso total del gobierno (2017):
          <br> $
          <span>{{ cash.value | currency }}</span>
        </h1>
      </v-flex>
      <div class="invisible-transition" :class="{'invisible':!animationEnd}" style="width:100%;">

        <!-- INFO DISPLAY -->
        <v-flex xs12>
          <h1 class="text-xs-center">
            {{ display }}
          </h1>
        </v-flex>

        <!-- CAROUSEL -->
        <v-flex xs12>
          <v-carousel hide-delimiters :cycle="false" v-on:input="changeContent" style="height:auto;">
            <v-carousel-item v-for="(item,i) in items" :key="i">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-layout row wrap>
                    <v-spacer></v-spacer>
                    <v-flex xs6>
                      <img :src="item.svg" alt="svg" style=" width: 100%;height: 400px;">
                    </v-flex>
                    <v-spacer></v-spacer>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-carousel-item>
          </v-carousel>
        </v-flex>

        <!-- FUENTE -->
        <v-flex xs12>
          <p class="text-sm-center mx-auto" style="width:50%;min-height:64px;">
            {{ fuente }}
          </p>
        </v-flex>
      </div>
    </v-layout>
  </v-container>

</template>

<script>
import anime from 'animejs'

export default {
  data() {
    return {
      display: '',
      fuente: '',
      animationEnd: false,
      cash: {
        value: 0
      },
      items: [
        {
          display: '307 Hospitales',
          svg: '/static/svg/hospital.svg',
          fuente: 'Se consideró un hospital de 80.000 m2 a un costo de 55 UF cada m2 considerando el valor de la UF del 28 de mayor 2018.  Fuente: Biblioteca el Congreso Nacional (2014). ““Análisis comparativo implementación de hospitales por contrato sectorial versus sistema de concesiones”'
        },
        {
          display: '471 Estadios Nacionales',
          svg: '/static/svg/estadio.svg',
          fuente: 'Se consideró el costo del Estadio Nacional de Santiago. Mundo Ejecutivo (2016)'
        },
        {
          display: '1.450.280 Autos de lujo',
          svg: '/static/svg/auto.svg',
          fuente: 'Se consideró como referencia el Modelo Lamborghini Aventador. Car and Drive [online] '
        },
        {
          display: '5.150.240 Viviendas sociales',
          svg: '/static/svg/casa.svg',
          fuente: 'Se consideró el costo de una vivienda social estimado por Mercado Público. El mostrador (2015)'
        },
        {
          display: '38.901.459 iPhone X 256GB',
          svg: '/static/svg/celular.svg',
          fuente: 'Se consideró como referencia el costo del Iphone X 256 GB. Solo todo [online]'
        }
      ]
    }
  },

  events: {},

  computed: {},

  created() {},

  mounted() {
    let timeline = anime.timeline()

    timeline
      .add({
        targets: '#titulo',
        translateY: 250,
        duration: 0
      })
      .add({
        targets: '#titulo',
        opacity: '0'
      })
      .add({
        targets: '#titulo',
        opacity: '1',
        duration: 800,
        easing: 'easeInQuad'
      })
      .add({
        targets: this.cash,
        value: 36528470000000,
        round: 1,
        delay: 0,
        duration: 2000,
        easing: 'linear',
        complete: () => {
          setTimeout(() => {
            this.animationEnd = true
          }, 500)
        }
      })
      .add({
        targets: '#titulo',
        translateY: 0,
        delay: 500,
        duration: 1000,
        elasticty: 0
      })

    //     var complete = anime({
    //   targets: '#complete .el',
    //   translateX: 250,
    //   complete: function(anim) {
    //     completedLogEl.value = 'completed : ' + anim.completed;
    //   }
    // });
    // console.log(this.duplicate([1, 2, 3, 4, 5])) // [1,2,3,4,5,1,2,3,4,5]
    // console.log(this.add(2, 5))
    // console.log(this.add(2)(5))
  },

  watch: {},

  methods: {
    changeContent(content) {
      console.info(content)
      if (this.display == '38.901.459 iPhone X 256GB' && content == 0) {
        this.$router.push('/vdata')
        //window.location.href = '/static/graficos/partida.html'
      }

      this.display = this.items[content].display
      this.fuente = this.items[content].fuente
    }
    // duplicate(array) {
    //   return array.concat(array)
    // },
    // add(a, b) {
    //   return b ? a + b : b => a + b
    // }
  },

  components: {},
  filters: {
    currency(value) {
      let f = value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1.')
      return f
    }
  }
}
</script>


<style scoped lang="scss">
* {
  // border: solid red 1px;
}

.comparaciones__ {
  background-color: black;
  color: whitesmoke;
}

.invisible-transition {
  transition: opacity 0.5s linear;
}

.invisible {
  opacity: 0;
}

#titulo {
}
</style>
