<template>
  <v-container py-0 d-flex>
    <!-- ABSOLUTE ELEMENTS -->
    <v-flex class="bg-left"></v-flex>
    <v-flex class="bg-right"></v-flex>
    <v-flex class="bg-scan"></v-flex>
    <v-layout row wrap align-content-space-between>
      <!-- ESPACIADOR -->
      <v-flex xs12></v-flex>

      <!-- CONTENIDO -->
      <v-flex xs12 class="scale" v-bind:class="{ run : runScale }">
        <!-- DATA GYRO LOGO -->
        <v-flex xs12>
          <v-layout row wrap justify-center>
            <v-flex xs12 md2>
              <img src="/static/img/logo_data_gyro_wh.png" alt="data_gyro_logo" class="responsive">
            </v-flex>
          </v-layout>
        </v-flex>
        <!-- PREGUNTA INICIAL -->
        <v-flex xs12 mt-5>
          <h1 class="welcome-message text-xs-center">¿Sabes qué pasa con tus impuestos?</h1>
        </v-flex>
        <!-- MENSAJE INTRODUCCIÓN -->
        <v-flex xs12>
          <p class="intro-text">
            Todos lo ciudadanos pagan impuestos todos los años y el gobierno lo distribuye entre sus distintas instituciones y programas. ¿Sabes cuántos impuestos pagas? ¿Sabes en qué se gastan estos impuestos? ¿Sabes cómo se asigna el presupuesto entre los distintos organismos de gobierno? ¿Quieres saber más al respecto?
          </p>
        </v-flex>

        <!-- BOTONES DE ACCIÓN -->
        <v-flex v-bind:class="{ run : showButton }" class="appear text-xs-center" style="">
          <v-btn :to="'/impuestos_en_chile'" class="type-1">Entrar</v-btn>
          <v-btn href="/static/graficos/partida.html" class="type-1">Ir a los datasets</v-btn>
        </v-flex>
      </v-flex>

      <!-- PARTNERS LOGOS -->
      <v-flex xs12>
        <v-container px-5 pb-5 pt-0>
          <v-layout row wrap align-center justify-center class="appear text-xs-center" v-bind:class="{ run : showButton }">
            <v-flex xs12>
              <h4 style="color:white;text-shadow:black 2px 2px 20px;">Organizan</h4>
            </v-flex>
          </v-layout>
          <v-layout row wrap align-center justify-center class="appear text-xs-center" v-bind:class="{ run : showButton }">
            <v-spacer></v-spacer>
            <v-flex xs1 mx-3>
              <img src="/static/img/logo_congreso.png" alt="congreso" class="responsive" style="opacity:0.8;">
            </v-flex>
            <v-flex xs2 mx-0>
              <img src="/static/img/logo_obs_fiscal.png" alt="obs_fiscal" class="responsive px-5" style="opacity:0.8;">
            </v-flex>
            <v-flex xs2 mx-0>
              <img src="/static/img/logo_datacampfire.png" alt="datacampfire" class="responsive px-5" style="opacity:0.8;">
            </v-flex>
            <v-flex xs2 mx-0>
              <img src="/static/img/logo_wb.png" alt="world_bank" class="responsive px-5" style="opacity:0.8;">
            </v-flex>
            <v-spacer></v-spacer>
          </v-layout>
          <!-- <v-layout row wrap align-center justify-center>
          </v-layout> -->
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>



<script>
import EventBus from '@/modules/EventBus'
import anime from 'animejs'

export default {
  name: 'pantalla-dos',
  data() {
    return {
      showButton: false,
      runScale: false
    }
  },
  mounted() {
    setTimeout(() => {
      this.showButton = true
    }, 1000)

    setTimeout(() => {
      this.runScale = true
    }, 250)
  },
  methods: {}
}
</script>


<style scoped lang="scss">
* {
  // border: red solid 1px;
}
.responsive {
  width: 100%;
  height: auto;
}

.intro-text {
  text-shadow: black 2px 2px 20px;
  margin: 35px auto;
  max-width: 800px;
  font-size: 16px;
}
</style>
