<template>
  <transition name="fade">
    <v-layout row fill-height pa-3>

      <!-- MENÚ DE SELECCIÓN DE MINISTERIOS -->
      <v-flex xs2>
        <div class="inline card" width="500px" height="500px">
          <div id="dash" class="card-body form-check-input" width="500px">
            <h5 class="card-title" align="center">Personaliza el gráfico</h5>
          </div>
        </div>
      </v-flex>

      <!-- GRÁFICOS -->
      <v-flex>
        <v-layout column fill-height>
          <v-flex xs1></v-flex>
          <v-flex xs10>
            <transition name="turn">
              <!-- YOYO'S AREA -->
              <v-layout v-show="show">
                <!-- <div class="inline card" width="500px" height="500px">
                  <div id="dash" class="card-body  form-check-input" width="500px">
                    <h5 class="card-title" align="center">Personaliza el gráfico</h5>
                  </div>
                </v-layout> -->

                <div id="chart">
                  <transition name="fade">
                    <span v-show="renderButton" id="button-here"></span>
                  </transition>
                </div>

                <!-- <div id="explicacion" align="justify" class="inline card" width="500px" height="500px">
                  <div class="card-body">
                    <h5 class="card-title" id="titulo">Gastos por Partidas</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p id="descripcion" class="card-text">Navega clickeando por los pedazos de la torta para conocer detalles del gasto de cada partida</p>
                    <a href="#" class="card-link" align="center"></a>
                  </div>
                </div> -->
              </v-layout>

            </transition>
          </v-flex>
          <v-flex xs1></v-flex>
        </v-layout>
      </v-flex>

      <!-- TARJETA DE INFORMACIÓN DE MINISTERIO -->
      <v-flex xs4>
        <v-layout column fill-height="">
          <v-flex xs6 id="info-box">

            <!-- CONTENIDO -->
            <div id="explicacion" align="justify" class="inline card" width="500px" height="500px">
              <div class="card-body">

                <h5 class="card-title" id="titulo">Gastos por Institución</h5>

                <h6 class="card-subtitle mb-2 text-muted"></h6>

                <p id="descripcion" class="card-text">Navega clickeando por los pedazos de la torta para conocer detalles del gasto de cada partida</p>

                <a href="#" class="card-link" align="center"></a>

              </div>
            </div>

          </v-flex>

          <!-- CONTENIDO SECUNDARIO -->
          <v-flex xs3>CONTENIDO</v-flex>
          <v-flex xs3>CONTENIDO</v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

  </transition>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      showElements: false,
      runScale: false,
      show: false,
      renderButton: false,
    };
  },

  events: {},

  computed: {},

  created() {},

  mounted() {
    setTimeout(() => {
      this.show = true;
    }, 1500);

    setTimeout(() => {
      this.renderButton = true;
    }, 3500);

    var vm = this;
    var j;
    var partida;
    var width = 700;
    var height = 700;
    var thickness = 40;
    var duration = 750;
    var padding = 10;
    var opacity = 0.8;
    var opacityHover = 1;
    var otherOpacityOnHover = 0.8;
    var tooltipMargin = 13;
    var radius = Math.min(width - padding, height - padding) / 2;
    var color = d3.scaleOrdinal(d3.schemeCategory20c);
    console.log('Radio=' + radius);
    console.log(this.$el);

    var svg = d3
      .select('#chart')
      .append('svg')
      .attr('class', 'pie')
      .attr('width', '100%')
      // .style('display', 'inline')
      .attr('height', '800px');

    let explicacion = d3.select('#explicacion');

    let desc = d3
      .select('#descripcion')
      .append('div')
      .attr('class', 'desc')
      .attr('id', 'desc')
      .attr('width', 100)
      .attr('height', 800)
      .style('display', 'inline')
      .style('margin-top', '50px');

    let descripcion = d3
      .select('.card-title')
      .append('div')
      .attr('class', 'desc')
      .attr('id', 'desc')
      .attr('width', 1000)
      .attr('height', 800)
      .style('display', 'inline')
      .style('background-color', 'lightblue');
    var g = svg.append('g').attr('transform', 'translate(' + 450 + ',' + 400 + ')');

    var arcOver = d3
      .arc()
      .innerRadius(0.7 * radius)
      .outerRadius(radius * 1.1);

    /**********************************************************
     *                  D3 GRAPH GENERATION                   *
     **********************************************************/

    d3.csv('/static/data/gasto2017.csv', function(d) {
      var show = 1;
      var arc = d3
        .arc()
        .innerRadius(0.7 * radius)
        .outerRadius(radius);
      var clicked;
      var pie = d3.pie().value(function(d) {
        return Math.abs(d.Ejec_Acum_Real);
      });
      pie_chart(d);

      function pie_chart(d) {
        console.log(d);
        var pie = d3
          .pie()
          .sort(null)
          .value(function(d) {
            return d.Ejec_Acum_Real;
          })(d);
        console.log('PIE' + Object.keys(pie));
        var path = g
          .selectAll('path')
          .data(pie)
          .enter()
          .append('g')
          .attr('class', 'slices')
          .append('path')
          .attr('d', arc)
          .attr('fill', (d, i) => color(i))
          .style('opacity', opacity)
          .style('stroke', 'white')
          .on('mouseover', function(d) {
            d3.selectAll('path').style('opacity', otherOpacityOnHover);
            d3.select(this).style('opacity', opacityHover);

            let g = d3
              .select('svg')
              .style('cursor', 'pointer')
              .append('g')
              .attr('class', 'tooltip')
              .style('opacity', 0);

            g
              .append('text')
              .attr('class', 'name-text')
              .text(`${d.data.Partida} (${d.data.Ejec_Acum_Real})`)
              .attr('text-anchor', 'middle');

            let text = g.select('text');
            let bbox = text.node().getBBox();
            let padding = 2;
            g
              .insert('rect', 'text')
              .attr('x', bbox.x - padding)
              .attr('y', bbox.y - padding)
              .attr('width', bbox.width + padding * 2)
              .attr('height', bbox.height + padding * 2)
              .style('fill', 'white')
              .style('opacity', 0.75);
          })
          .on('mousemove', function(d) {
            let mousePosition = d3.mouse(this);
            let x = mousePosition[0] + width / 2;
            let y = mousePosition[1] + height / 2 - tooltipMargin;

            let text = d3.select('.tooltip text');
            let bbox = text.node().getBBox();
            if (x - bbox.width / 2 < 0) {
              x = bbox.width / 2;
            } else if (width - x - bbox.width / 2 < 0) {
              x = width - bbox.width / 2;
            }

            if (y - bbox.height / 2 < 0) {
              y = bbox.height + tooltipMargin * 2;
            } else if (height - y - bbox.height / 2 < 0) {
              y = height - bbox.height / 2;
            }

            d3
              .select('.tooltip')
              .style('opacity', 1)
              .attr('transform', `translate(${x}, ${y})`);
          })
          .on('mouseout', function(d) {
            d3
              .select('svg')
              .style('cursor', 'none')
              .select('.tooltip')
              .remove();
            d3.selectAll('path').style('opacity', opacity);
            /*  d3.select(this).transition()            
                   .attr("d", arc)
                   .attr("stroke","none");*/
          })
          .on('touchstart', function(d) {
            d3.select('svg').style('cursor', 'none');
          })
          .on('click', function(d) {
            d3.select('#explicacion').style('opacity', 1);
            d3
              .select(clicked)
              .attr('stroke', 'white')
              .transition()
              .duration(250)
              .attr('d', arc);
            var active = desc.active ? false : true;

            d3.select('#descripcion').html(d.data.Descripcion);
            d3.select('#titulo').html(d.data.Partida);
            clicked = this;
            d3.select('.card-subtitle').html('Ejecución=' + d.data.Ejec_Acum_Real);
            d3.select('.card-link').html("<a href='./programa.html'>¿En que gasta el " + d.data.Partida + ' el presupuesto?</a>');
            d3
              .select(this)
              .attr('stroke', 'white')
              .transition()
              .duration(150)
              .attr('d', arcOver);
          })
          .each(function(d, i) {
            this._current = i;
          });
      }
      // Selección

      let boxes = d3
        .select('#dash')
        .selectAll('.form-check-input')
        .data(d)
        .enter()
        .append('div')
        .attr('class', 'row')
        .attr('transform', function(d, i) {
          return 'translate(0,' + i * 5 + ')';
        })
        .html(function(d, i) {
          partida = d.Partida;
          return `
          <div class="checkbox-organismo">
            <input class="xs2 form-check-input" name="checkme" class="" id="${partida}" value="${partida}" type="checkbox">
            <label class="xs10" for="${partida}" style="cursor:pointer;" onclick=""> ${d.Partida} </label>
          </div>
          `;
        });

      /**********************************************************
       *                  BUTTON HERE AND SHIT                  *
       **********************************************************/

      let bloque = d3
        .select('#button-here')
        .append('div')
        .attr('class', 'row')
        .append('div')
        .attr('align', 'center')
        .attr('class', 'absolute-center-button')
        .html('<button type="button" id="actualizar" class="btn btn-outline-info">Actualizar gráfico</button>');

      // Arreglo de partidas seleccionadas.

      let partidas = [];
      Array.prototype.remove = function() {
        var what,
          a = arguments,
          L = a.length,
          ax;
        while (L && this.length) {
          what = a[--L];
          while ((ax = this.indexOf(what)) !== -1) {
            this.splice(ax, 1);
          }
        }
        return this;
      };

      var new_data = [];
      var keys = Object.keys(d).slice(0, 29);
      $(document).ready(function() {
        $('.form-check-input').change(function() {
          if ($(this).is(':checked')) {
            partidas.push(this.value);
          } else {
            partidas.remove(this.value);
          }
        });

        function killAll() {
          d3
            .selectAll('.slices')
            .data(new Array())
            .exit()
            .remove();
        }

        $('#actualizar').click(function() {
          vm.show = false;
          killAll();
          new_data = [];
          let i;
          let dato;
          for (i = 0; i < partidas.length; i++) {
            for (j = 0; j < d.length; j++) {
              if (d[j].Partida == partidas[i]) {
                new_data.push(d[j]);
              }
            }
          }

          pie_chart(new_data);
          vm.show = true;
        });
      });
    });
  },

  watch: {},

  methods: {},

  components: {},
};
</script>


<style scoped lang="scss">
/****************
*  ANIMATIONS   *
*****************/
.fade-enter-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-leave-active {
  transition: opacity 1s;
}

.turn-enter-active {
  transition: all 2s;
}

.turn-enter, .turn-leave-to /* .fade-leave-active below version 2.1.8 */ {
  // transform: rotateY(74);
  transform: scale(0, 0);
  opacity: 0;
}

.turn-leave-active {
  transition: all 2s;
}

/****************
*  BACK-GROUND  *
*****************/

/************
*  CONTENT  *
*************/
#chart {
  width: 100%;
}
#descripcion {
  color: slategray;
  padding: 5% 5%;
}

.card-body {
  color: slategray;
  padding: 5% 5%;
}

#info-box {
  color: slategray;
  position: relative;
  right: 10%;
  top: 10%;
}
.pie {
  //position: absolute;
  cursor: initial !important;
}
g:hover {
  cursor: pointer;
}
.absolute-center-button {
  //opacity: 0;
  transition: all 1s;
  position: absolute;
  top: 48%;
  left: 37%;
}
.checkbox-organismo {
  display: flex;
  margin: 5% 5%;
}
</style>
