<template>
  <transition name="expand" v-on:after-enter="selectChart">
    <div v-if="show" class="content">
      <v-container fluid>
        <v-layout row wrap>
          <v-flex xs12>
            {{content}}
          </v-flex>
          <v-flex xs12>
            <object id="vector-chart-more" type="image/svg+xml" data="/static/graficos/vector-0.svg">
              <!-- fallback image in CSS -->
            </object>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </transition>
</template>

<script>
import * as d3 from 'd3'
export default {
  data() {
    return {}
  },
  props: ['show', 'content', 'svgId'],
  mounted() {
    return
    // Get the Object by ID
    let a = document.getElementById('vector-chart-more')
    // Get the SVG document inside the Object tag
    let svgDoc = a.contentDocument
    // Get one of the SVG items by ID;
    var svgItem = svgDoc.getElementById('otros-polyline')
    // Set the colour to something else
    svgItem.setAttribute('fill', 'red')
  },
  watch: {
    show: {
      handler(value) {
        console.info(value)
      }
    }
  },
  methods: {
    selectChart() {
      setTimeout(() => {
        console.info('executed on animation end')
        let a = document.getElementById('vector-chart-more')
        let svgDoc = a.contentDocument
        let id = `#${this.svgId}`
        console.info(id)
        svgDoc = d3.select(svgDoc)
        svgDoc.select(`polyline#${this.svgId}`).style('stroke', 'red')
        svgDoc
          .select(`text#${this.svgId}`)
          .style('fill', 'red')
          .style('font-size', '28px')
        svgDoc
          .select(`text#${this.svgId}`)
          .selectAll('tspan')
          .style('fill', 'red')
          .style('font-size', '28px')
        svgDoc
          .select(`text#${this.svgId}--percent`)
          .style('fill', 'red')
          .style('font-size', '20px')
      }, 100)
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  position: relative;
  transform: scale(1.1);
}
.expand {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s linear;
    max-height: 500px;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
    max-height: 0px;
    transform: scale(0.8);
  }
}
</style>

