/*********************
*  THEME OVERRIDES   *
**********************/

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.theme--light {
  .btn:not(.btn--icon):not(.btn--flat):not(.btn--outline) {
    &.type-1 {
      background-color: #898fa8;
      color: whitesmoke;
    }
    &.type-2 {
      background-color: #0075ba;
      color: whitesmoke;
    }
  }
}

.overlay--active {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/****************
*  TRANSITION   *
*****************/

.scale {
  transition: 3s transform ease;
  transform: scale(0.90, 0.90);
  &.run {
    transform: scale(1, 1);
  }
}

.slideLeft {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease;
  &-show {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideRight {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease;
  &-show {
    opacity: 1;
    transform: translateX(0);
  }
}

.appear {
  transition: 2s all ease-out;
  opacity: 0;
  &.run {
    opacity: 1;
  }
}

// enter-active [ enter -> enter-to] -> leave-active [ leave -> leave-to ]
.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// enter-active [ enter -> enter-to] -> leave-active [ leave -> leave-to ]
.overlayFade-enter-active {
  transition: opacity 0.3s;
}

.overlayFade-leave-active {
  transition: opacity 0.3s;
}

.overlayFade-enter,
.overlayFade-leave-to {
  opacity: 0;
}

/****************
*  BACK-GROUND  *
*****************/

.bg-right {
  background-image: url('/static/trianglify.svg');
  background-size: cover;
  background-position: 0px bottom;
  width: 50.005%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: -1;
}

.bg-left {
  background: url('/static/trianglify.svg');
  background-size: cover;
  transform: scale(-1, 1);
  width: 50.005%;
  height: 100%;
  position: absolute;
  background-position: 0px bottom;
  left: 0;
  z-index: -1;
}

.bg-scan {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rebeccapurple;
  z-index: -2;
  top: 0%;
  /* box-shadow: purple 55px 28px 8px; */
  opacity: .3;
}

/************
*  CONTENT  *
*************/

.welcome-message {
  color: white;
  text-shadow: 0px 0px 15px black;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
}

p {
  text-align: center;
  color: white;
  font-weight: 500;
}

.text-shadow {
  text-shadow: 2px 2px 15px black;
}

/************
*   DEBUG   *
*************/

div {
  //border: red 1px solid;
}

.absolute {
  position: absolute;
}

/************
  *  TOOLTIP  *
  *************/

.tooltip {
  display: block !important;
  z-index: 10000;
  font-weight: 300;
  width: 20%;
  .tooltip-inner {
    background: black;
    color: white !important;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    position: absolute;
    margin: 5px;
    border: solid black;
  }
  &[x-placement^='top'] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^='bottom'] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^='right'] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^='left'] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}

.application.theme--light {
  background: transparent !important;
}

.application--wrap {
  height: 100% !important;
}
