<template>
  <v-app app>
    <drawer>
    </drawer>
    <hud-display :show="showHud">
    </hud-display>
    <transition name="overlayFade" mode="out-in">
      <overlay :message="dataOverlay" v-on:close="showOverlay = false" v-if="showOverlay"></overlay>
    </transition>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </v-app>
</template>

<script>
/**
 * For Logging on inline elements
 */
import EventBus from 'src/modules/EventBus'
import overlay from 'src/comps/overlay'
import drawer from 'src/comps/Drawer'
import hudDisplay from 'src/comps/Hud'

export default {
  data() {
    return {
      showOverlay: false,
      dataOverlay: '',
      showDrawer: false,
      showHud: false
    }
  },

  computed: {},

  created() {},

  watch: {},

  mounted() {
    EventBus.$on('overlay', this.onOverlay)
    EventBus.$on('hud', this.onHud)
    // EventBus.$on('drawer', this.onDrawer)

    setTimeout(() => {
      this.showHud = true
    }, 1000)
  },

  methods: {
    onOverlay(payload) {
      this.showOverlay = true
      this.dataOverlay = payload
    },
    onDrawer() {
      //this.showDrawer = !this.showDrawer
    },
    onHud() {
      this.showHud = true
    }
  },

  components: { overlay, drawer, hudDisplay }
}
</script>


<style lang="scss">
</style>
